* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Marvel', sans-serif;
	overflow-y: hidden;
}
video#my-video {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	/*background: url(polina.jpg) no-repeat;*/
	/*background-size: cover;*/
}

.container {
	width: 100%!important;
	padding: 0;
	overflow-x: hidden;
}


.jumbotron {
	background: transparent;
	padding: 0!important;
	margin: 0;
	margin-top: 12vh;
}

.overlay {
    z-index:1;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

#secondOverlay {
	background: #222222;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

#heroButtons {
	margin: auto;
}

#heroButtons p {
	display: inline-block;
	padding: 10px;
}

#heroButtons p a:hover {
	color: black;
	background: #078AC9;
}

.heroNav {
	padding: 20px;
	font-size: larger;
	background: #45B0E4;
	border-color: #45B0E4;
}

.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	background: #45B0E4;
	border: none;
}
#navLogo {
	max-height: 150px;
	max-width: 200px;
	margin-top: -10px;
}

#otherContent {
	background: #F5F5F5;
	height: 93vh;
}
.nav li a{
	color: white!important;
}
.nav li a:hover{
	color: black!important;
}
.footer li a:hover{
	height: 6.5ex;
}

.nav li:hover{
	background: white;
}
.nav {
	text-align: left;
}
#panelButtons a{
	text-decoration: none;
	color: white;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
#panelButtons a:hover{
	color: #45B0E4;
}


#panelButtons a li {
	display: inline;
	font-size: 19pt;
	padding: 4px 60px;
	padding-bottom: 8px;
}

footer {
	position: fixed;
	bottom: 0;
}

#footer {
	margin-bottom: 0;
}

.seperator {
	height: 30px;
	background: black;
}

.fa {
	color: black;
}

#panelButtons a li.active {
	background: grey;
	color: black;
	font-weight: bolder;
}

#faArrow {
	font-size: 20pt;
	color: #eeeeee;
	border-radius: 55%;
	cursor: pointer;
	text-decoration: none;
}

#faArrow:hover {
	color: black;
}

#bgFA {
	background: #45B0E4;
	width: 15pt;
	height: 15pt;
	position: absolute;
	margin-left: -22px;
	margin-top: 3px;
	z-index: -100;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
}

#big-video-vid {
	z-index: -1;
}

#big-video-image {
	z-index: -1;
	position: fixed;
	overflow-x: hidden;
	
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.collapsed {
	background-color: #333;
}

#usMap {
	width: 1000px;
	margin: auto;
	overflow: visible;
	padding-top: 10ex;
}

#mobileSlider {
	display: none;
}
#mobileSearch {
	display: none;
}
#browsePage {
	background-color: #F5F5F5;
	height: 100vh;
}
#alpha {
	width: 1000px;
	margin: auto;
}
#alpha h1 {
	display: inline-block;
	padding-right: 4em;
	padding-top: 1ex;
}
#vmap svg {
	padding-left: 25ex;
}
#stateList {
	height: 130px;
	overflow: scroll;
	margin-left: 25em;
}
#stateList li {
	font-size: 15pt;
	width: 48ex;
	text-align: center;
}
#dropdownMenu1 {
	width: 70ex;
}
#navSep {
	margin-top: 6.5ex;
	position: absolute;
	width: 100%;
	display: none;
}

#bballcontain{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: 500px;
	height: 300px;
	background: #2D2A2B;
}

.scores {
	color: white;
}
#timeClock {
	color: red;
	text-align: center;
	font-size: 70pt;
}
.scores div {
	background: black;
}
#quarter {
	font-size: 19pt;
}
#quarter label {
	font-size: 21pt;
	padding-right: 20px;
}
#timer {
	color: red;
	text-align: center;
	font-size: 70pt;
	background: black;
	display: inline;
	padding: 0 25px;
	outline: white 2px solid;
	padding-right: 0;
}
#quarter div {
	display: inline;
	font-size: 28pt;
	padding: 5px 10px;
}
#teamScores {
	text-align: center;
	font-size: 33pt;
	margin-top: -6.5ex;
}
#guestScore {
	float: left;
	margin-left: 0.5em;
}
#homeScore {
	float: right;
	margin-right: 0.7em;
}
.scoreEmbed {
	position: absolute;
	width: 600px;
	height: 400px;
}
.bounce {
	margin-top: 20px;
  -webkit-animation: animation 1750ms infinite both;
  animation: animation 1750ms infinite both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/ZLxaR9 */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.61% { -webkit-transform: matrix3d(1.881, 0, 0, 0, 0, 1.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.881, 0, 0, 0, 0, 1.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { -webkit-transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.22% { -webkit-transform: matrix3d(2.193, 0, 0, 0, 0, 2.193, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.193, 0, 0, 0, 0, 2.193, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.82% { -webkit-transform: matrix3d(2.135, 0, 0, 0, 0, 2.135, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.135, 0, 0, 0, 0, 2.135, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(2.044, 0, 0, 0, 0, 2.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.044, 0, 0, 0, 0, 2.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.93% { -webkit-transform: matrix3d(1.984, 0, 0, 0, 0, 1.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.984, 0, 0, 0, 0, 1.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.43% { -webkit-transform: matrix3d(1.968, 0, 0, 0, 0, 1.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.968, 0, 0, 0, 0, 1.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.55% { -webkit-transform: matrix3d(2.005, 0, 0, 0, 0, 2.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.005, 0, 0, 0, 0, 2.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.77% { -webkit-transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.99% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.61% { -webkit-transform: matrix3d(1.881, 0, 0, 0, 0, 1.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.881, 0, 0, 0, 0, 1.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { -webkit-transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.22% { -webkit-transform: matrix3d(2.193, 0, 0, 0, 0, 2.193, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.193, 0, 0, 0, 0, 2.193, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.82% { -webkit-transform: matrix3d(2.135, 0, 0, 0, 0, 2.135, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.135, 0, 0, 0, 0, 2.135, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(2.044, 0, 0, 0, 0, 2.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.044, 0, 0, 0, 0, 2.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.93% { -webkit-transform: matrix3d(1.984, 0, 0, 0, 0, 1.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.984, 0, 0, 0, 0, 1.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.43% { -webkit-transform: matrix3d(1.968, 0, 0, 0, 0, 1.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.968, 0, 0, 0, 0, 1.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.55% { -webkit-transform: matrix3d(2.005, 0, 0, 0, 0, 2.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.005, 0, 0, 0, 0, 2.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.77% { -webkit-transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.99% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@media (max-width: 900px){
	#jumboLogo {
		height: 100px;
	}
}
@media (max-width: 750px){
	#jumboLogo {
		height: 75px;
	}
	.jumbotron {
		margin: 20vh 0;
	}
	.bounce {
		display: none;
	}
	#panelButtons {
		display: none;
	}
	#mobileSlider {
		display: block;
	}
	#mobileSearch {
		display: block;
		padding-top: 15px;
	}
	#otherContent {
		height: 90vh!important;
		padding-top: 20px;
	}
	#moreContent {
		margin: 3vh 0;
	}
}

@media (max-width: 550px){
	#jumboLogo {
		height: 50px;
	}
}

@media (min-height: 740px){
	#otherContent{
		height: 95.5vh;
	}
}