* {
	margin: 0;
	padding: 0;
}
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	/*background: url(polina.jpg) no-repeat;*/
	/*background-size: cover;*/
}

.jumbotron {
	background: transparent;
	padding: 0;
	margin: 0;
	margin-top: 30vh;
}

.overlay {
    z-index:1;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
		border-radius: 5%;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

#heroButtons {
	margin: auto;
}

#heroButtons p {
	display: inline-block;
	padding: 10px;
}

.heroNav {
	padding: 20px;
	font-size: larger;
}

.navbar {
	position: fixed;
	width: 100%;
	left: 0;
}
