<footer class="navbar" id="footer" ng-controller="FooterCtrl">
	<div class="seperator"></div>
	<div class="navbar-header">
  </div>
	<div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav footer nav-Icons">
      <li><a ng-href="#">About</a></li>
      <li><a ng-href="#">Privacy</a></li>
      <li><a ng-href="#">Terms</a></li>
      <li class="copyright"><a class="copyright">Copyright Sportzcast 2015</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav">
      <li><a ng-href="#" class="fa fa-facebook-official fa-2x"></a></li>
      <li><a ng-href="#" class="fa fa-twitter fa-2x"></a></li>
    </ul>
  </div>
</footer>	