<div id="bball" class="scoreboard">
	<div id="bballcontain">
		<div id="timeClock"><p id="timer" class="scoreFont">1:58</p>
			<div id="quarter" class="scores">
				<label class="scoreboardFont">QTR</label>
				<div class="scoreFont">4</div>
			</div>
		</div>
		<div id="teamScores">	
			<div id="guestScore" class="scores">
				<label class="scoreboardFont">GUEST</label>
				<div class="scoreFont">116</div>
			</div>
			<div id="homeScore" class="scores">
				<label class="scoreboardFont">HOME</label>
				<div class="scoreFont">121</div>
			</div>
		</div>
	</div>
</div>