<div class="appPage container-fluid">
	
	<div class="breadcrumbs">
		<ul class="breadcrumbList">
			<li><a ui-sref="browse.states">Browse</a></li>
		</ul>
	</div>

	<div class="resultsContain">
				<input type="text" id="searchFilter" ng-model="citySearch" class="form-control" placeholder="Search for..."></input>
			<div class="results mobileView" id="mobileCities">  
				<ul id="floridaResults">
					<li ng-repeat="city in cty.cities | filter:citySearch"><a ng-click="cty.citySelect(city.Id, city.Name)">{{city.Name}}</a></li>
				</ul>
			</div>
		</div>
</div>