<div class="appPage">
	<div class="nearMeContain">
		<div class="searchFieldContain">
			<h1>Find</h1>
			<div class="searchFields">
				<select class="gameSchoolChoiceList dropdown" ng-change="search.advancedOptions(value)"ng-model="value">
					<option value="game">Games</option>
					<option value="school">Schools</option>
				</select>
			</div>
		</div>
		<div class="searchFieldContain">
			<h1>Near</h1>
			<div class="searchFields">
				<div class="zipContain">
					<label>Zip</label>
					<input type="text"></input>
					<h1>OR</h1>
				</div>
				<div class="cityStateContain">
					<label>State</label>
					<select ng-change="search.getCities(this.state)" ng-model="state">
						<option ng-repeat="state in search.states">{{state.Name}}</option>
					</select>
					<label>City</label>
					<select>
						<option ng-repeat="city in search.cities">{{city.Name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="searchFieldContain">
			<div id="gameAdvancedFields" ng-show="search.option==='game'">
				<h1>Game Search Options</h1>
			</div>
			<div id="schoolAdvancedFields" ng-show="search.option==='school'">
				<h1>School Search Options</h1>
				<div class="searchFields schoolAdvanced">
					<div class="schoolNameInput">
						<label><h3>School or Mascot Name</h3></label>
						<input type="text"><br>
					</div>
					<div class="schoolSportInput">
						<label><h3>Sport:</h3></label>
						<select>
							<option>Test 1</option>
							<option>Test 2</option>
							<option>Test 3</option>
						</select>
					</div>
					<div class="schoolDivisionInput">
						<label><h3>Division:</h3></label>
						<select>
							<option>Test 1</option>
							<option>Test 2</option>
							<option>Test 3</option>
						</select>
					</div>
					<button type="submit" class="btn btn-success schoolSubmit">Start Search</button>
				</div>
			</div>
		</div>		
		<!--<div class="userBlock">
			<div class="userInputLocation">
				<h1 class="inputHeader">Search by Zip Code</h1>
				<div class="formContain">
					<form>
						<select role="menu">
		          <option>Game</option>
		          <option>School</option>
       		 	</select>
						<label>Zip</label>
						<input />
					</form>
				</div>
				<div class="formButtons">
					<button type="button" class="btn cancelBtn">Cancel</button>
					<button type="button" class="btn btn-success goBtn">Go!<span class="glyphicon glyphicon-search searchIcon"></span></button>
				</div>
			</div>
			<div class="geoLocate">
				<div>
					<h1 class="inputHeader">Search by Current Location</h1>
				</div>
				<div class="geoLocateOptions">
					<select role="menu">
		          <option>Game</option>
		          <option>School</option>
       		 </select>
					<button ng-click="search.getLocation()" class="btn btn-info"><span class="glyphicon glyphicon-map-marker"</span>Locate Me</button>
				</div>
			</div>
		</div>-->
	</div>
</div>