  <div class="col-lg-6" id="mobileSearch">
    <div class="input-group">
     <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
    <input type="text" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="jumbotron text-center" id="moreContent">
    <div class="overlay" id="secondOverlay">
      <nav>
        <ul id="panelButtons">
          <a href="#"><li class="active">Partners</li></a>
          <a href="#"><li>Technology</li></a>
          <a href="#"><li>Company</li></a>
          <a href="#"><li>Support</li></a>
        </ul>
        <div id="mobileSlider" ng-include="'components/slider/slider.html'"></div>
      </nav>
    </div>
  </div>