<div class="appPage container-fluid">

	<div class="breadcrumbs">
		<ul class="breadcrumbList">
			<li><a ui-sref="browse.states">Browse</a></li>
			<li><a ui-sref="browse">> {{results.selectedState}}</a></li>
			<li>> {{results.selectedCity.name}}</li>
		</ul>
	</div>
	
	<div class="sportDropdown">
		<button class="btn btn-default dropdown-toggle sportDivision" type="button" class="dropdownMenu2" data-toggle="sports" aria-expanded="true">
			Sport
		    <span class="caret"></span>
		  </button>
			<ul class="dropdown-menu" ng-model="browse.selectedState" role="menu" id="stateList">
				<li ng-repeat="state in browse.states" role="presentation"><a role="menuitem" tabindex="-1" ng-click="browse.selectState(state.name)" value="{{state.abbreviation}}">{{state.name}}</a></li>
			</ul>
		<button class="btn btn-default dropdown-toggle sportDivision" type="button" class="dropdownMenu2" data-toggle="sports" aria-expanded="true">
			Division
		    <span class="caret"></span>
		  </button>
			<ul class="dropdown-menu" ng-model="browse.selectedState" role="menu" id="stateList">
				<li ng-repeat="state in browse.states" role="presentation"><a role="menuitem" tabindex="-1" ng-click="browse.selectState(state.name)" value="{{state.abbreviation}}">{{state.name}}</a></li>
			</ul>
	</div>
	

	<ul class="resultsContain" id="schoolResults">
		
		<li class="bball scoreboard result1" ng-repeat="game in results.resultList | startFrom:currentPage*2 | limitTo: results.pageSize">
			<h3 class="gameTitle">{{game.AwayName}} @ {{game.SchoolName}}</h3>
			<p class="gameSubTitle">date:{{game.stringDate}}<span id="sportName">sport: {{game.SportName}}</span></p>
			<div class="bballcontain result1" id="r1">
				<div id="timeClock"><p id="timer" class="scoreFont">1:58</p>
					<div id="quarter" class="scores">
						<label class="scoreboardFont">QTR</label>
						<div class="scoreFont">4</div>
					</div>
				</div>
				<div id="teamScores">	
					<div id="guestScore" class="scores">
						<label class="scoreboardFont">GUEST</label>
						<div class="scoreFont">116</div>
					</div>
					<div id="homeScore" class="scores">
						<label class="scoreboardFont">HOME</label>
						<div class="scoreFont">121</div>
					</div>
				</div>
			</div>
			<div class="bballcontainMobile" hidden>
				<div class="awayScoreMobile">
					<label>GUEST</label>
					<div class="scoreFont">116</div>
				</div>
				<div class="homeScoreMobile">
					<label>HOME</label>
					<div class="scoreFont">121</div>
				</div>
				<div class="scoreBlock scoreboardFont">1:10</div>
				<div id="quarterMobile" class="scores">
					<label class="scoreboardFont">QTR</label>
					<div class="scoreFont">4</div>
				</div>
			</div>

			<button ng-click="results.selectGame(game)" class="btn btn-success selectGame">Select Game</button>
		</li>

		<div class="paginationContain">
			<div class="pagination">
			    <button class="first" ng-click="currentPage = 0">&laquo;</button>
			    <button class="previous" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">&lsaquo;</button>
			    <div class="pageNum"type="text">{{currentPage + 1}} / {{results.numberOfPages()}}</div>
			    <button class="next" ng-disabled="currentPage >= results.resultList.length/2 -1" ng-click="currentPage=currentPage+1">&rsaquo;</button>
			    <button class="last" ng-click="currentPage = results.numberOfPages()-1">&raquo;</button>
			</div>
		</div>

	</ul>

</div>