<div class="appPage container-fluid">

	<div class="breadcrumbs">
		<ul class="breadcrumbList">
			<li><a ui-sref="browse.states">Browse</a></li>
			<li><a ui-sref="cities">> {{schoolResults.selectedState}} ></a></li>
			<li>{{schoolResults.selectedCity.name}}</li>
		</ul>
	</div>
	
	<div class="sportDropdown">
		<button class="btn btn-default dropdown-toggle sportDivision" type="button" class="dropdownMenu2" data-toggle="sports" aria-expanded="true">
			Division
		    <span class="caret"></span>
		  </button>
	</div>
	

	<ul class="resultsContain" id="schoolResultsContain">
		
		<li class="bball scoreboard result1" id="schoolResultInfo" ng-repeat="school in schoolResults.resultList">
			<h1><a ui-sref="schoolPage({school: school.Slug})">{{school.Name}}</a></h1>
			<img src="{{school.Logo}}" id="schoolResultLogo">
		</li>
	</ul>
</div>