<div id="schoolPage" class="appPage">

	<div class="schoolScoreContain">
		<h1>Colonial Grenediers @ Boone Braves</h1>
		<div id="schoolPageScore"ng-include="'app/views/basketballScoreboard.html'"></div>
	</div>

	<div class="schoolChatContain">
		
		<div class="sportDropdown" id="schoolPageDropdown">
				<button class="btn btn-default dropdown-toggle sportDivision" type="button" class="dropdownMenu2" data-toggle="sports" aria-expanded="true">
					Sport
				    <span class="caret"></span>
				  </button>
					<ul class="dropdown-menu" ng-model="browse.selectedState" role="menu" id="stateList">
						<li ng-repeat="state in browse.states" role="presentation"><a role="menuitem" tabindex="-1" ng-click="browse.selectState(state.name)" value="{{state.abbreviation}}">{{state.name}}</a></li>
					</ul>
				<button class="btn btn-default dropdown-toggle sportDivision" type="button" class="dropdownMenu2" data-toggle="sports" aria-expanded="true">
					Full Schedule
				    <span class="caret"></span>
				  </button>
					<ul class="dropdown-menu" ng-model="browse.selectedState" role="menu" id="stateList">
						<li ng-repeat="state in browse.states" role="presentation"><a role="menuitem" tabindex="-1" ng-click="browse.selectState(state.name)" value="{{state.abbreviation}}">{{state.name}}</a></li>
					</ul>
			</div>

		<div id="schoolPageChat"ng-include="'app/views/chat.html'"></div>
	</div>

</div>